html {
  background: url("./images/kucing.jpeg");
  background-size: cover;
}

.page-wrap {
  padding-top: 100px;
}

.background {
  color: black;
  text-align: center;
  border: 2px solid black;
  margin: auto 400px 10px 400px;
}

.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60);
}

h1 {
  font-family: 'Righteous', cursive;
}

li {
  display: inline;
}

.Photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  margin-bottom: 2opx;
}

.content {
  text-align: justify;
  margin: auto;
  width: 300px;
  length: 300px;
}

.fa {
  color: black;
  padding: 20px;
  font-size: width: auto;
  justify-content: center;
  border-radius: 50px;
  border: 7px solid rgba(0, 0, 0, 0.0);
}

.fa:hover {
  color: white;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

.icon {
  bottom: 0;
  margin: auto;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

/* contact form */

.cf-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

input[type=textarea], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type:submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type:submit] {
  background-color: #45a049;
}

label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.group {
  margin: 10px 0px;
}

form input {
  width: 100%;
  min-height: 30px;
}